
<div class="row" data-equalizer my-reflow-panels>
  <div class="columns small-12 medium-6 large-4 panel left {{colorCycle($index)}}" 
       data-equalizer-watch 
       ng-repeat="(postUUID, postData) in resultPosts">

    <p>{{postData.name}} at {{postData.date}}</p>
    <img class="hide-for-small-only" src="{{imageLink(postData.image)}}" alt="Blogpost picture." />
    <p>{{postData.title}}</p>

    <div class="row">
      <a href="#/read-post/{{postUUID}}" class="button tiny">Read More</a>
      <a href="#" ng-click="deletePost(postUUID)" class="button tiny" target="_self">Delete Post</a>
    </div>
  </div>
</div>
 